* {
    margin: 0;
    padding: 0;
    font-family: 'popins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: darkgreen;
    color: #0e0d0d;
}
nav{
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
/* DRop Down CSS */
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    position: absolute;
    z-index: 999;
    display: none;
    width: 100%;
}

ul li:hover ul.dropdown{
    display: block;
    background-color: #c5dfb0;
    border-radius: 30px;
   border: 2px solid rgb(21, 56, 21);
   width: 150px;
   margin-left: 100px;
   

}
ul li:hover ul.dropdown li a{
    color:rgb(21, 56, 21);
}

.header {
    width: 100%;
    height: 100vh;
    /* I  used Linear gradient with black color trasparency  using property"to bottom*/
    background: linear-gradient(rgba(113, 82, 224, 0.3), rgba(17, 49, 14, 0.7)), url('images/header2.jpg');
    background-size: cover;
    /* it will cover all the size of div by cutting corners or streching the picture etc.  */
    background-position: center;
    padding: 10px 8%;
    position: relative;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    

}



.logo {
    width: 200px;
    cursor: pointer;
    
}

.nav-btn a {
    border: 4px solid rgb(90, 173, 7);
    outline: 0;
    background-color:rgb(90, 173, 7);
    color: rgb(21, 56, 21);
    padding: 7px 20px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 300;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-btn a.sign{
    font-size: 40px;
}

.lang-btn {
    display: inline;
    background-color: transparent;
    border: 4px solid rgb(21, 56, 21);
    padding: 7px 10px;
    align-items: center;


}

a.lang-btn:hover {
    background-color: transparent;
    border: 4px solid rgb(21, 56, 21);

}
a.sign{
    font-size: 100px;
}

a.Sign:hover {
    background-color: transparent;
    border: 4px solid rgb(21, 56, 21); 
}

.lang-btn img {
    width: 10px;
    margin-left: 10px;
    margin-top: 3px;
}

.header-content {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%,-50%);

}
.header-content h1{
    font-size: 60px;
    line-height: 60px;
    font-weight: 600;
    max-width: 650;
}
.header-content h3{
    font-weight: 400;
    margin: 20px 0;
}
.email-signup{
    margin-top: 30px;
    border-radius: 4px;

    display: flex;
    overflow: hidden;
    align-items: center;
}
.email-signup input{
    margin-left: 50px;
    border: 1.5px solid #d1cdcd;
    background-color: rgba(36, 35, 35, 0.5);
    padding: 15px 30px;
    color: #fff;
    width: 345px;
    border-radius: 3px;
    font-size: 16px;


}
.email-signup{
    margin-left: 150px;
}

.email-signup a{
margin-left: 10px;

border-radius: 3px;
font-size: 20px;
background-color:rgb(21, 56, 21);
color:rgb(252, 252, 252);
padding: 10px 25px;
border-radius: 3px;
border: rgb(21, 56, 21) solid 4px;
width: 187px;
font-weight: bold;
display: flex;
text-decoration: none;
border-radius: 15px;
}
a.pdf{
    width: 230px;
}
.pdf i{
    margin-top: 12px;
}
.email-signup button i{
    margin-left: 3px;
}
.email-signup a:hover{
    background-color: transparent;
    border: chartreuse solid 4px;
}
/* ---------------------------------CSS for Features------------------------------ */
.features{
    height: 120vh;
    background: linear-gradient(rgba(113, 82, 224, 0.3), rgba(17, 49, 14, 0.7)),;
    padding: 10px 12%;
    font-size: 22px;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 50px

}
.text{
margin-top: 0;
margin-bottom: 20px;
width: 800px;
margin-right: 40px;
padding: 40px;
}
.text h2{
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: cursive;
    text-align: center;

}
.text p{
text-align: justify;

}
.text i{
    margin-left: 60px;
    margin-bottom: 20px;
    color: rgb(233, 250, 233);
}
.image img{
    display: block;
    width: 60%;
    height: 40%;
    margin-left: 20px;
}
#text2 {
    padding: 50px;
    color: white;
}
#feature3{
    height: 65vh;
}
#text3 h2{
    padding:  0 65px;
    width: 100px;
    font-weight: 700;
}
#text3 p{
    padding:  0 40px;
    width: 400px;
    margin-left: 20px;
    font-weight: 500;
}

#text3{
    margin-left: 50px;
    color: #fff;
}
#kids img{
    width: 150%;
}
#text4{
    margin-left: 30px;
    color: #fff;
    padding: 50px;
}
/* footer styling */

/* --------------------------------------------- */
#f2{
    background-color: rgb(78, 139, 16);
}
#f1{
    background-color: darkgreen;
    color: #fff;
}





